<ngx-spinner></ngx-spinner>
<div class="header">
	<h1>Smash.gg Entrant-List CSV Generator</h1>
	<span>This code is hosted on my Github, <a href="https://github.com/lin-brian-l/admin-team-entrants">lin-brian-l</a>. Enjoy!</span>
</div>
<div class="form">
	<ol class="form__instructions">
		<li>Paste the URL of any Smash.gg tournament you want data for.</li>
		<li>Hit "Generate CSV" to start the process.</li>
		<li>Hit "Download CSV" to get the data.</li>
	</ol>
	<input class="form__input" [(ngModel)]="tournamentUrl" placeholder="ex: https://smash.gg/tripoint-smash-15">
	<button class="form__submit-button" (click)="submitUrl()">Generate CSV</button>
</div>

<angular2csv *ngIf="csvData" [data]="csvData" filename="{{tournamentName}}-entrants" [options]="csvOptions"></angular2csv>